
@import "assets/styles/color";

header {
  background-color: $primary-color;
  .headerLogoContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
    padding: 10px 5px;
    .logoContainer {
      margin-right: 20px;
    }
  }
  @media (max-width: 1200px) {
    .headerLogoContainer {
      width: 95%;
    }
  }
}