
@import 'assets/styles/color';

.containerProductDetail {
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.description {
  width: 680px;
  .imgContainer {
    text-align: center;
  }
  .textDescription {
    h2 {
      font-size: 28px;
      font-weight: 100;
      color: $accent-text-color;
      margin-bottom: 32px;
    }
    p {
      font-size: 16px;
      color: $text-color;
    }
  }
}

.paymentZone {
  /* background-color: red; */
  box-sizing: border-box;
  max-width: 275px;
  width: 100%;
  h2,
  h4,
  h6 {
    margin-top: 0;
    font-weight: 100;
  }
  h2 {
    font-size: 46px;
    font-weight: 100;
  }
  h4,
  h2 {
    color: $accent-text-color;
    font-weight: 400;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 32px;
    font-weight: bold;
  }
  h6 {
    font-size: 14px;
    margin-bottom: 16px;
    color: $accent-text-color;
  }
  button {
    background-color: $accent-color;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
      Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    :hover {
      // background-color: ${colors.darkBlueMeli};
    }
  }
}